<h1>Welcome</h1>
<p>hello user, you can shoping easily with just  clicking. Register now
</p>
<div class="logo-image">
            <img src="logo.png"  class="img-fluid">
        </div>
<a href="register">
    <button class="btn btn-primary btn-lg">Register</button>
</a>