<h1>New market</h1>

<%= render "form", market: @market %>

<br>

<div>
  <% if (@myrole == 'admin') %>
    <%= link_to "Back to markets", markets_path, class:"btn btn-info" %>
  <% end %>
  <%= link_to "Back to Inventory", '/my_inventory', class:"btn btn-info" %>
</div>
